*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h2{
    font: bold 14px sans-serif;
}

header, section, footer, aside, article, hgroup{
    display: block;
}

body{
    text-align: center;
}

.agrupar{
    width: 960px;
    border: 1px solid black;
    margin: 20px auto;
}

.header{
    background: rgb(149, 206, 58);
    border: 1px solid #9999;
    padding: 20px
}
.header h1{
    text-align: left;
}

.menu{
    background: #cccccc;
    padding: 5px 15px;
    text-align: left;
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;    
}

.seccion{
    margin: 20px;
    width: 60%;
    float: left;
}

article{
    background: #fffccf;
    border: 1px solid #9999;
    padding: 20px;
    margin-bottom: 15px;
}
time{
    color: #9999;
}
article footer{
    text-align: right;
    margin-top: 20px;
}

.lado{
    weight:200px;
    float:left;
    margin: 20px 0;
}
.lado blockquote{
    border: 1px solid black;
    padding: 40px;
    background: #FFFBB9;
    margin-bottom: 20px;    
}

.pie{
    clear: both;
    padding: 20px;
    background: #2d3436;
    color: #ffffff;
}
img{
    width: 30%;
    display: block;
    margin: 20px auto;

}