@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.grid-buttons {
  background-color: #feffde;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-Category {
  width: 100%;
  height: 100%;
  background-color: #feffde;
}

.h1 {
  color: white;
}
button {
  font-family: "Oswald", sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 4px;
  border: none;

  height: 100%;
  color: #feffde;
  background-color: #ddffbc;
  /* #DDFFBC; */
}
.each-button {
  font-size: 27px;
  padding: 10%;
}

button:hover {
  background-color: #ddffbc; /* Green */
  color: #52734d;
}
