.dark-background-nav {
  background-color: #1b262c;
  flex-direction: column;
}

.dark-background-body {
  width: 100%;
  color: white;
  background-color: #1b262c;
  min-height: 76%;
}

.form-select-custome {
  height: 40px;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  display: block;
}

.form-input-box {
  width: 100%;
  display: block;
  margin: 0;
}

.form-buttons {
  width: 100%;
  display: block;
  margin: 0;
}

.btns {
  width: 45%;
}

.table {
  max-width: 100%;
  max-height: 415px;
  display: block;
  overflow: auto;
  margin-bottom: 60px;
}

.action-buttons {
  width: 40px;
}

.missing-cell {
  border: 2px solid #cc1711;
}

.hidden {
  visibility: hidden;
}

.simple-text {
  color: white;
  margin-top: 40px;
  margin-left: 50px;
}

.thead-style {
  background: #008891;
  position: sticky;
  top: -1px;
}

.input-column {
  width: 100%;
}
