@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.line {
  height: 20%;
  background-color: #1b262c;
}
.header {
  width: 100%;
  height: 75px;
  background-color: #52734D;
  padding: 10px;
  color: #DDFFBC;
  font-family: 'Oswald', sans-serif;
}
.footer {
  width: 100%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #52734D;
  display: flex;
  flex-direction: row;
  grid-column-gap: 8%;
 justify-content: space-between;
}
.tomenu{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.containerSM{
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
}
.containerSM .div{
  justify-content: center;
  align-items: center;
}
img{
  width: 100%;
  /* height: 100%; */
}
.infouser{font-family: 'Oswald', sans-serif;}
button {
  font-family: 'Oswald', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 4px;
  border: none;
  font-size: 17px;
  height: 100%;
  color: #FEFFDE;
  background-color: #52734D;
  /* #DDFFBC; */
  
}
.each-button{
  padding: 10%;
}

button:hover {
  background-color: #DDFFBC; /* Green */
  color: #52734D;
}
.space-button{

  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}
.table{
  margin-top: 3%;
  background-color: #91C788;
  border: solid #52734D;
}
thead{
  background-color:#52734D;
}
.for-save{
  margin-top: 5%;
}
.just-font{
  color: #1b262c;
  font-family: 'Oswald', sans-serif;
}
.background{
  background-color: #FEFFDE;
  height: 100%;
}
body{
  background-color: #FEFFDE;
}
