.line {
  height: 20%;
  background-color: #1b262c;
}
.header {
  width: 100%;
  height: 15%;
  background-color: #008891;
  padding: 25px;
}
.footer {
  width: 100%;
  height: 10%;
  background-color: #008891;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 1%;
  align-items: center;
  justify-items: center;
}
