html,body{
    width: 100%;
    height:100%;
    padding: 0%;
}

header{
    background-color:#31575c;
    font-size: 1.3em;
}

.text-start{
    color:#3b4754;
    font-size:1.6em;
}

.text-below-start{
    color: #798da3;
    font-size:1.1em;
}

.form-container{
    height:73%;
    box-shadow: 1px 1px 5px 2px #2e3435;
    border-radius: 1%;
    background-color: #eff0f4;
}
.form-left-side{
    height:100%;
    width: 50%; 
    border-right:1px solid gray;
    /* border-top-left-radius: 1%;
    border-bottom-left-radius: 1%; */
    background-color: #eff0f4;
}

.form-left-side-title{
    border-bottom: 2px solid gray;    
    color:#3B4754;
}

.user-button{
    color: #3B4754;
}

/* .form-left-side-products{
    border-bottom: 2px solid gray;    
} */
.form-left-side-user{
    border-bottom: 2px solid gray;    
}

.form-right-side{
    height:100%;
    width: 50%;
    border-left:1px solid gray;
    /* border-top-right-radius: 1%;
    border-bottom-right-radius: 1%; */
    background-color: #eff0f4;
}

.form-right-side-title{
    border-bottom: 2px solid gray;    
    color:#3B4754;
}

.form-right-side-sell{
    border-bottom: 2px solid gray;    
    color:#232323;
    height:90%;
}

footer{
    background-color:#31575c;
    font-size: 1.3em;
    height:10%;
    
}